@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

table
{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
th
{
    color: #D5DDE5;
    background: #1b1e24;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

th:first-child
{
    border-top-left-radius: 3px;
}

th:last-child
{
    border-top-right-radius: 3px;
    border-right: none;
}

td
{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    position: relative;
}

tr
{
    font-size: 16px;
    font-weight: normal;
}

tr:nth-child(odd) td::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(234, 234, 234, 0.5);
    z-index: -2;
}

tr:hover
{
    background-color: rgba(135, 143, 151, 0.42);
}

td:hover::after,
th:hover::after
{
    content: "";
    position: absolute;
    background-color: rgba(135, 143, 151, 0.42);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.align-cell
{
    text-align: center;
}

.make-it-small
{
    font-size: 10px;
}

.term-a::after
{
    font-weight: bold;
    color: #d9534f;
    content: 'A';
}

.term-b::after
{
    font-weight: bold;
    color: #337ab7;
    content: 'B';
}

.term-c::after
{
    font-weight: bold;
    color: #5cb85c;
    content: 'C';
}

.ad-pic
{
    width: 30px;
    height: 30px;
}

.departure-pic
{
    background: url("departures.svg") no-repeat;
    background-size: 30px;
    background-position: center;
}

.arrival-pic
{
    background: url("arrivals.svg") no-repeat;
    background-size: 30px;
    background-position: center;
}

td.success
{
    background-color: rgba(205, 240, 195, 0.5);
}

td.danger
{
    background-color: rgba(242, 208, 205, 0.52);
}

td.warning
{
    background-color: rgba(252, 248, 211, 0.5);
}


.simple-form
{
    position: relative;
    margin: auto;
    max-width: 600px;
}

button
{
    display: none;
}

.simple-form:valid button
{
    display: inline;
}

input[name="d-filter"][value="arrival"]:checked~table .departure,
input[name="d-filter"][value="departure"]:checked~table .arrival
{
    display: none;
}

.city-field[value="Kurgan"]~table tr:not([data-city="Kurgan"]),
.city-field[value="Orenburg"]~table tr:not([data-city="Orenburg"]),
.city-field[value="Chelyabinsk"]~table tr:not([data-city="Chelyabinsk"]),
.city-field[value="Aktobe"]~table tr:not([data-city="Aktobe"]),
.city-field[value="Kos"]~table tr:not([data-city="Kos"]),
.city-field[value="Tbilisi"]~table tr:not([data-city="Tbilisi"]),
.city-field[value="Tel Aviv"]~table tr:not([data-city="Tel-Aviv"]),
.city-field[value="Groznii"]~table tr:not([data-city="Groznii"]),
.city-field[value="Dubai"]~table tr:not([data-city="Dubai"]),
.city-field[value="Saint-Petersburg"]~table tr:not([data-city="Saint-Petersburg"]),
.city-field[value="Frankfurt"]~table tr:not([data-city="Frankfurt"])
{
    display: none;
}
