@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

table
{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
th
{
    color: #D5DDE5;
    background: #1b1e24;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

th:first-child
{
    border-top-left-radius: 3px;
}

th:last-child
{
    border-top-right-radius: 3px;
    border-right: none;
}

td
{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    position: relative;
}

tr
{
    font-size: 16px;
    font-weight: normal;
}

tr:nth-child(odd)
{
    background-color: #D5DDE5;
}

tr:nth-child(odd):hover
{
    background-color: #878f97;
}

tr:hover
{
    background-color: #878f97;
}

td:hover::after
{
    content: "";
    position: absolute;
    background-color: #878f97;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(4),
td:nth-child(7),
td:nth-child(8)
{
    text-align: center;
}

td:nth-child(7) span
{
    font-size: 10px;
}

.term-a:before
{
    font-weight: bold;
    color: #d9534f;
    content: 'A';
}

.term-b:before
{
    font-weight: bold;
    color: #337ab7;
    content: 'B';
}

.term-c:before
{
    font-weight: bold;
    color: #5cb85c;
    content: 'C';
}

table > thead > tr > th,
table > tbody > tr > td
{
    vertical-align: middle;
}

.ad-pic
{
    width: 30px;
    height: 30px;
}

.simple-form
{
    position: relative;
    margin: auto;
    max-width: 600px;
}
