@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

table
{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    overflow: hidden;
}
th
{
    color: #D5DDE5;
    background: #1b1e24;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    vertical-align: middle;
}

th:first-child
{
    border-top-left-radius: 3px;
}

th:last-child
{
    border-top-right-radius: 3px;
    border-right: none;
}

td
{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

tr
{
    font-size: 16px;
    font-weight: normal;
}

tr:nth-child(odd)
{
    background-color: #f9f9f9;
}

tr:nth-child(odd):hover
{
    background-color: rgba(135, 143, 151, 0.42);
}

tr:hover
{
    background-color: rgba(135, 143, 151, 0.42);
}

td:hover::after,
th:hover::after
{
    content: "";
    position: absolute;
    background-color: rgba(135, 143, 151, 0.42);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(4),
td:nth-child(7),
td:nth-child(8)
{
    text-align: center;
}

.make-it-small
{
    font-size: 10px;
}

.term-a::before
{
    font-weight: bold;
    color: #d9534f;
    content: 'A';
}

.term-b::before
{
    font-weight: bold;
    color: #337ab7;
    content: 'B';
}

.term-c::before
{
    font-weight: bold;
    color: #5cb85c;
    content: 'C';
}

.ad-pic
{
    width: 30px;
    height: 30px;
}

td.success
{
    background-color: rgba(205, 240, 195, 0.5);
}

td.danger
{
    background-color: rgba(242, 208, 205, 0.52);
}

td.warning
{
    background-color: rgba(252, 248, 211, 0.5);
}


.simple-form
{
    position: relative;
    margin: auto;
    max-width: 600px;
}

button
{
    display: none;
}

.simple-form:valid button
{
    display: inline;
}
